<ion-header>
  <ion-toolbar>
    <ion-title>Question</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="question-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label position="fixed">Fragen-ID: {{question.id}}</ion-label>
      <ion-label position="fixed"></ion-label>
    </ion-item>
    <ion-item>
      <ion-input label="Fragentext:" labelPlacement="fixed" type="text" [(ngModel)]="question.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Antwort1:" labelPlacement="fixed" type="text" [(ngModel)]="question.a1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Antwort2:" labelPlacement="fixed" type="text" [(ngModel)]="question.a2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Antwort3:" labelPlacement="fixed" type="text" [(ngModel)]="question.a3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Antwort4:" labelPlacement="fixed" type="text" [(ngModel)]="question.a4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Corrent:" labelPlacement="fixed" type="number" [(ngModel)]="question.correct"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
