<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Question</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="question-list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Fragen-ID</ion-label>
        <p class="question-id">{{ question.id.split('-')[0] }}</p>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Fragentext</ion-label>
        <ion-input type="text" [(ngModel)]="question.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Antwort 1</ion-label>
        <ion-input type="text" [(ngModel)]="question.a1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Antwort 2</ion-label>
        <ion-input type="text" [(ngModel)]="question.a2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Antwort 3</ion-label>
        <ion-input type="text" [(ngModel)]="question.a3"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Antwort 4</ion-label>
        <ion-input type="text" [(ngModel)]="question.a4"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Korrekte Antwort (1-4)</ion-label>
        <ion-input type="number" [(ngModel)]="question.correct"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
